body {
    font-family: Arial, sans-serif;
    background-image: url("https://c.pxhere.com/images/40/3f/ab3b82814ee7067c12e3e72a606e-1624088.jpg!d");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

body h3 {
    font-weight: 800;
}

.head {
    font-weight: bold;
    z-index: 1;
    color: black !important;
}

.espacio {
    padding-top: 100px;
    padding-bottom: 100px;
}

.fondo_blanco {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar-toggler {
    border: 5px solid rgb(0, 0, 0) !important;
}

.navbar {
    z-index: 1000;
}

.navbar {
    width: 100%;
    text-align: center;
    z-index: 1050 !important;
}

.navbar-collapse {
    z-index: 1050;
}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
}

.nav-item {
    padding: 0 15px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button img {
    width: 50px;
    height: auto;
}

.logo {
    height: 150px;
    width: 150px;
}

.imginfo {
    height: 100px;
    width: auto;
}

.negrita{
    font-weight: 900;
}

.info_title {
    color: #ffffff !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 900 !important;
}

.dropdown-header {
    color: rgb(0, 0, 0) !important; 
    font-weight: 900 !important;
}

@media (max-width: 767px) {
    .navbar-nav {
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .logo {
        height: 50px;
        width: 50px;
        ;
    }
}